<%- include('layouts/head');%>
<body>
  <div class="wrapper">
    <div class="topnav">
      <ul>
        <li><a href="javascript:;"><i class="fa fa-glass"></i>奇趣事</a></li>
        <li><a href="javascript:;"><i class="fa fa-phone"></i>潮科技</a></li>
        <li><a href="javascript:;"><i class="fa fa-fire"></i>会生活</a></li>
        <li><a href="javascript:;"><i class="fa fa-gift"></i>美奇迹</a></li>
      </ul>
    </div>
    <%- include('layouts/header');%>
    <%- include('layouts/aside');%>
    <div class="content">
      <div class="panel new">
        <h3>会生活</h3>
      </div>
      <!-- 加载更多按钮 -->
      <div class="load-more">
        <div id="btn-load-more" class="btn load-more">加载更多</div>
      </div>
    </div>
    <div class="footer">
      <p>© 2016 XIU主题演示 本站主题由 themebetter 提供</p>
    </div>
  </div>
</body>
<script src="/assets/js/utils.js"></script>
<script src="/assets/vendors/art-template/template-web.js"></script>
<script src="/assets/js/list.js"></script>
<script type="text/template" id="tp">
  {{ each $data $val }}
  <div class="entry">
    <div class="head">
      <span class="sort">{{$val.name}}</span>
      <a href="/detail?id={{$val.id}}">{{$val.title}}</a>
    </div>
    <div class="main">
      <p class="info">{{$val.nickname}} 发表于 {{$val.created}}</p>
      <p class="brief">{{@$val.content}}</p>
      <p class="extra">
        <span class="reading">阅读({{$val.views}})</span>
        <span class="comment">评论(0)</span>
        <a href="javascript:;" class="like">
          <i class="fa fa-thumbs-up"></i>
          <span>赞({{$val.likes}}</span>
        </a>
        <a href="javascript:;" class="tags">
          分类：<span>{{$val.name}}</span>
        </a>
      </p>
      <a href="/detail?id={{$val.id}}" class="thumb">
        <img src="{{$val.feature}}" alt="">
      </a>
    </div>
  </div>
  {{ /each }}
</script>
</html>